<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>SmartRoomOnline</title>
    <meta name="description" content="">
    <meta name="msapplication-cortanavcd" content="http://localhost:4200/Commands.xml"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <base href="/" />
<meta name="smart-room-online/config/environment" content="%7B%22modulePrefix%22%3A%22smart-room-online%22%2C%22environment%22%3A%22production%22%2C%22baseURL%22%3A%22/%22%2C%22locationType%22%3A%22auto%22%2C%22EmberENV%22%3A%7B%22FEATURES%22%3A%7B%7D%7D%2C%22APP%22%3A%7B%22name%22%3A%22smart-room-online%22%2C%22version%22%3A%221.0.0+561c1749%22%7D%2C%22routeLocation%22%3A%22%22%2C%22contentSecurityPolicyHeader%22%3A%22Content-Security-Policy-Report-Only%22%2C%22contentSecurityPolicy%22%3A%7B%22default-src%22%3A%22%27none%27%22%2C%22script-src%22%3A%22%27self%27%22%2C%22font-src%22%3A%22%27self%27%22%2C%22connect-src%22%3A%22%27self%27%22%2C%22img-src%22%3A%22%27self%27%22%2C%22style-src%22%3A%22%27self%27%22%2C%22media-src%22%3A%22%27self%27%22%7D%2C%22exportApplicationGlobal%22%3Afalse%7D" />

    <!-- Cosmo Bootstrap Theme -->
    <link rel="stylesheet" href="/SmartRoomOnline/assets/bootstrap.min-0c0479db15d45cecb9ea75854715d0f5.css" integrity="sha256-zgv/1Zvk3/zoPkjIhzyadUOMS4hyxaxmW42JEu6Arxk= sha512-PsvFLM8OInqn3XVfxOGFwfJ+b+eYdQ9wKHS01BnsKIcGr1c/4Sv2IMi1Lvi3FhHkyBX/ZtQ2Zg/JH7REiArJug==" />
    <link rel="stylesheet" href="/SmartRoomOnline/assets/vendor-debf0065c3acd5529822b66cb67825cb.css" integrity="sha256-lts3YlFezpJMi132qMoty4zPQ6XwFMfXh1wnlu51/aU= sha512-akLW9rLHUuSAzFAWeJLrosNs84W83kyrk8EXqH1PGdqi+Aeq/iaxdjBRJdEJXg+qq/lzbJI1N/eH3W9FQGL2VQ==" >
    <link rel="stylesheet" href="/SmartRoomOnline/assets/smart-room-online-86bb58d84c18bea81afd862e2a807be9.css" integrity="sha256-L4B13uolG+8tSD9xxYaUUeHjShSpmVuVsCvkfUlPpXk= sha512-VpgvlgCUUgy1jxQneJvzD3deiqbMQC1VaCLr80A7L0kVV7agsqt7FHM6WKX/JC5mvYzV/njsMIUhnvhAkuqOvg==" >
    <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <link href='https://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,700' rel='stylesheet' type='text/css'>

    
  </head>
  <body>
    

    <script src="/SmartRoomOnline/assets/vendor-d81f7b23bff0728138a03860a2af63bc.js"></script>
    <script>
        
    </script>
    <script src="/SmartRoomOnline/assets/smart-room-online-b9d6a7cb32bf55937b1fe26425510652.js"></script>

    
  </body>
</html>
